body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: Arial, sans-serif;
    background-color: rgb(53, 53, 53);
    padding-bottom: 90px;
}

/* L'absence de signe devant l'objet siginifie que les objets sont définis pour toutes les balises '<button' */
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}


/* Les '.' siginifient que les objets sont définis pour toutes les 'class = tabs' */
.up-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.research-bar {
    flex: 6;
    display: flex;
    justify-content: center;
}

.settings {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}



.tab-btn {
    margin: 10px;
}

.tab-btn svg {
    display: block;
    width: 30px;
    height: 30px;
    fill: white;
}

.tab-btn:hover svg {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.678));
    transform: scale(1.05);
}

/* .tab-btn.active svg {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.678));
    transform: scale(1.05);
} */


#settings-btn {
    margin: 10px;
}


#settings-btn svg {
    display: block;
    width: 30px;
    fill: white;
    transition: filter 0.2s ease, transform 0.2s ease;
}

#settings-btn:hover svg {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.678));
    transform: scale(1.05);
}


#settings-btn.active svg {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.678));
    transform: scale(1.05);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}




/* Les '#' siginifient que les objets sont définis pour tous les 'id = settings-btn' */

input, textarea {
    padding: 8px;
    font-size: 16px;
    border-radius: 6px;
    background-color: #141414;
    color: white;
    border: 1px solid #ccc;
    width: 600px;
    margin-top: 20px;
}

input::placeholder,
textarea::placeholder {
    color: #888;
}




#control-box {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    width: 100%;
    max-width: 1000px;
    height: 100px;

    /* background: #87beac; */
    background: linear-gradient(to bottom, #2b9b83, transparent);
    color: white;


    /* flex-direction: column; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

    gap: 20px;

    padding: 10px;

    box-shadow: 0 -2px 10px rgba(0,0,0,0.3);
}


.buttonsPan {
    flex: 1;
}

.nbTitlesPan {
    flex: 1;
    display: flex;
    margin-top: 5px;
    justify-content: flex-end;
    align-items: center;
}

.duration {
    flex: 3;
    display: flex;
    margin-top: 5px;
    justify-content: left;
    align-items: center;
}

#textPan {
    text-align: right;
    white-space: pre;
}

.headPan {
    width: 100%;
    margin-top: 18px;
    justify-content: center;
    align-items: center;
}

.bottom-row {
    margin-top: auto;
}

.top-row,
.bottom-row {
    /* display: flex; */
    /* align-items: center; */
    gap: 15px;
}


.playBtn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: 10px;
}

.playBtn svg {
    width: 24px;
    height: 24px;
    fill: white;
}

/* état play */
.playBtn.play::before {
    content: url('/static/icons/play.svg');
    fill: white;
}

/* état pause */
.playBtn.pause::before {
    content: url('/static/icons/pause.svg');
    fill: white;
}


#randomBtn {
    margin: 10px;
}

#randomBtn svg {
    width: 28px;
    fill: white;
}

.randomBtnClass.active svg {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.678));
    transform: scale(1.05);
}


#nbPan {
    margin-left: 20px;
}

#titlePan {
    margin-left: 40px;
}

#albumPan {
    margin-left: 400px;
}

#clockPan {
    margin-left: 360px;
}



/* Tracklist */
.music-table {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 17px;
    color: white;


}

.hidden {
    display: none;
}

.music-table td {
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.music-table td:nth-child(1) {
    width: 41px;
    padding-left: 20px;
}

.music-table td:nth-child(2) {
    width: 45px;
}

.music-table td:nth-child(3) {
    width: 380px;
}

.music-table td:nth-child(4) {
    width: 403px;
}

.music-table tr:hover {
    /* background-color: rgba(255,255,255,0.1); */
    cursor: pointer;
}


.titleList {
    margin-top: -1px;
}
.artistList {
    margin-top: 2px;
    font-size: 12px;
    opacity: 0.7;
}

.albumCoverList {
    width: 100%;
}

.active-track {
    background-color: #1d6858;
}








#music-player {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 70px;

    background: #141414;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    padding: 10px;

    box-shadow: 0 -2px 10px rgba(0,0,0,0.3);
}

.trackData-container {
    flex: 3;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.controlButtons-container {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.progressBar-container {
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlistParameters-container {
    flex: 2;
}


/* .trackData-container {
    position: relative;
} */

/* Tooltip caché */
.trackTooltip {
    position: absolute;
    bottom: 110%;
    left: 10px;
    min-width: 25%;

    background: #121212;
    color: white;

    padding: 10px;
    /* border-radius: 8px; */

    font-size: 12px;

    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;

    transition: all 0.2s ease;

    box-shadow: 0 8px 25px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
}

/* Apparition au hover */
.trackData-container:hover .trackTooltip {
    opacity: 1;
    transform: translateY(0);
}

.coverTooltip-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.coverTooltip {
    width: 250px;
    height: auto;
}

.trackCover{
    display: flex;
    align-items: center;
    margin: 10px;
}

.coverPlayer {
    width: 60px;
    height: auto;
}

.trackText {
    flex: 1;
    min-width: 0; /* 🔥 indispensable en flex */
}

.trackNameContainer {
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#trackName {
    font-size: 18px;
}

#trackArstist {
    font-size: 13px;
}

#prevBtn svg {
    width: 24px;
    fill: white;
}

#nextBtn svg {
    width: 24px;
    fill: white;
}


#progress {
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    /* margin-left: 50px; */
    margin-right: 30px;
    appearance: none;
    outline: none;
    border: none;
    background: transparent;
}

#progress::-moz-range-track {
    height: 4px;
    background: rgb(53, 53, 53);
    border: none;
}

#progress::-moz-range-progress {
    background: #2b9b83;
    height: 4px;
    border: none;
}

#progress::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: #ccc;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}


/* .playlistControlButtons svg{
    width: 30px;
    fill: white;
    margin-right: 20px;
    margin-left: 20px;
} */



#randomBtnControlBar svg{
    width: 30px;
    fill: white;
    margin-right: 20px;
    margin-left: 20px;
}

#queueBtnControlBar svg{
    width: 30px;
    fill: white;
    margin-right: 20px;
    margin-left: 20px;   
}

/* #randomBtnControlBar.active svg {
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.678));
    transform: scale(1.05);
} */


.playlistName {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.playlistControls-container {
    display: flex;
    align-items: center;
    justify-content: center;
}